{{#each this}}
<li class="gallery__item" >
  <div class="photo-card">
<div class="photo__container">
      <img src="{{webformatURL}}" alt="{{tags}}" width="{{webformatWidth}}" height="{{webformatHeight}}"
        data-source="{{largeImageURL}}" />
</div>  
    <div class="stats">
      <p class="stats-item">
        
        <i class="material-icons">thumb_up</i>
      {{likes}}
      </p>
      <p class="stats-item">
        
        <i class="material-icons">visibility</i>
      {{views}}
      </p>
      <p class="stats-item">
        
        <i class="material-icons">cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </div>
</li>
{{/each}}